@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg)}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg)}
  to {-moz-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
  from {-ms-transform: rotate(0deg)}
  to {-ms-transform: rotate(360deg);}
}

html,body{margin:0; padding:0;}

<<<<<<< HEAD
body{background: #e2e2e2 url(../img/bg_3.jpg); font:100% sans-serif; color:#49494a; -webkit-text-size-adjust:100%;}
h1{font-size:.875em; color:#077083; font-weight: bold; margin:.5em 0 .3em; height:2.25em; overflow: hidden;}
=======
body{background: #e2e2e2 url(../img/bg_3.jpg); font:100% sans-serif; color:#49494a;}
h1{font-size:.875em; color:#077083; font-weight: bold; margin:.5em 0 .3em; height:2.3em; overflow: hidden;}
>>>>>>> minor tweaks
h3{ text-align: center; color:#f7f5f5; text-shadow:0 1px 0 #d4d3d3; font-size:3em; font:100 italic 3em museo-slab-1,museo-slab-2,Georgia,serif; margin:0 0 40px;}/*nothing found */

	#loading{font-style: normal;
		-webkit-animation: rotate 1s infinite linear;
		-moz-animation: rotate 1s infinite linear;
		-ms-animation: rotate 1s infinite linear;
		animation: rotate 1s infinite linear;
	}
	
p{margin:0;}
#masthead{background:#595959; color:#dedbc1; padding:10px; font:100 italic 1em museo-slab-1,museo-slab-2,Georgia,serif;-webkit-box-shadow: 0 2px 0 #535353, 0 12px 0 #707070, 0 1px 0 #797979; box-shadow: 0 2px 0 #535353, 0 12px 0 #707070, 0 1px 0 #797979;}
	#masthead div{width:890px; margin:0 auto; position: relative; overflow: hidden;}
#branding{font:bold italic 300% museo-slab-1,museo-slab-2,Georgia,serif; float: left; text-shadow: 0 1px 0 #3a3a3a;}
#masthead p{width:250px;position: relative;float:left; left:30px; padding-left:20px; top:10px; border-left:1px solid #707070;}
#masthead form{float:right;margin-top: 20px; position: relative;}
	::-webkit-input-placeholder { color: #8b8b8b;}
	:-moz-placeholder { color: #8b8b8b;}
	#search{width:200px; font-size:.875em;  font-style: italic; background: #ececec; -webkit-appearance: none; -webkit-border-radius:.8em; -moz-border-radius:.8em; border-radius:.8em; border:none; padding-left:10px;}
		#search:focus{outline:none;background: #fff;}
	#m{position: absolute; right: 5px; top:50%; margin-top:-7px}
#product_list{position: relative; margin:20px auto; padding:0; width:890px;}

.hproduct{position:relative; text-align: center; width:220px; display: inline-block; vertical-align: top; margin:0; padding:20px 0;  border-bottom:1px solid #f7f5f5; border-top:1px solid #d4d3d3;}
	
.prod_wrap{border-right:1px solid #d4d3d3; border-left:1px solid #f7f5f5; padding:0 10px;}

figure{height:140px; display: table-cell; vertical-align: bottom; width:200px; line-height: 0;}

.hproduct header p{font-size:12px; font-weight: bold; margin:0 0 .5em;}

.price_block_wrapper{padding:.4em; background: rgba(0,0,0,.1); display: inline-block;-webkit-border-radius:1.5em; -moz-border-radius: 1.5em; border-radius:1.5em; position: relative; cursor: pointer;}

.button{font-size:12px; color:#fff; text-shadow:0 1px 0 #000; position: relative; overflow: hidden; }

.button a{
text-decoration: none; padding:10px;
background: #46a9ba; /* Old browsers */
background: -moz-linear-gradient(top, #46a9ba 2%, #1b95aa 2%, #06687a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#46a9ba), color-stop(2%,#1b95aa), color-stop(100%,#06687a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #46a9ba 2%,#1b95aa 2%,#06687a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #46a9ba 2%,#1b95aa 2%,#06687a 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #46a9ba 2%,#1b95aa 2%,#06687a 100%); /* IE10+ */
background: linear-gradient(top, #46a9ba 2%,#1b95aa 2%,#06687a 100%); /* W3C */
}

.button a:hover{
background: #47bdd0; /* Old browsers */
background: -moz-linear-gradient(top, #47bdd0 2%, #1caec5 6%, #066172 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#47bdd0), color-stop(6%,#1caec5), color-stop(100%,#066172)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #47bdd0 2%,#1caec5 6%,#066172 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #47bdd0 2%,#1caec5 6%,#066172 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #47bdd0 2%,#1caec5 6%,#066172 100%); /* IE10+ */
background: linear-gradient(top, #47bdd0 2%,#1caec5 6%,#066172 100%); /* W3C */
}

.button a:active{
background: #448a97; /* Old browsers */
background: -moz-linear-gradient(top, #448a97 3%, #1a6f80 3%, #087e93 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#448a97), color-stop(3%,#1a6f80), color-stop(100%,#087e93)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #448a97 3%,#1a6f80 3%,#087e93 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #448a97 3%,#1a6f80 3%,#087e93 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #448a97 3%,#1a6f80 3%,#087e93 100%); /* IE10+ */
background: linear-gradient(top, #448a97 3%,#1a6f80 3%,#087e93 100%); /* W3C */
-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.4) inset; -moz-box-shadow:0 2px 5px rgba(0,0,0,0.4) inset; box-shadow:0 2px 5px rgba(0,0,0,0.4) inset;
}

a.vendor_name{
-webkit-border-top-left-radius: 20px;-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;-moz-border-radius-bottomleft:20px;
border-top-left-radius: 20px;border-bottom-left-radius: 20px;
border-right:1px solid #234a56; float:left; position: relative; color:#fff;}

a.trade_in_value{position: relative;
-webkit-border-top-right-radius: 20px;-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;border-bottom-right-radius: 20px;
font-weight: bold; color:#252a32; border-left:1px solid #198b9f; float:left; padding-left:16px; text-shadow: 0 1px 0 #629ca7;}
	.trade_in_value:before,.trade_in_value:after{position: absolute; left:4px; top:8px; content:''; width:0; height: 0; border-style:solid; border-width: 4px; border-color:transparent transparent #252A32;}
	.trade_in_value:after{ border-color:#252A32 transparent transparent; top:17px; }

.hproduct.active .drop_down{display: block;}
.drop_down{position: absolute; top:43px; left:50%; background: #f2f2f2;-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2); box-shadow: 0 2px 10px rgba(0,0,0,.2); z-index:98; -webkit-border-radius: 4px; -moz-border-radius:4px; border-radius: 4px; font-size:.75em; line-height: 1.6; font-weight: bold; list-style-type: none; text-align: left; margin:0 0 0 -6em; padding:1em; width:10em; display: none; text-transform: capitalize;}
	.drop_down_li{font-size:100%;}
		.drop_down a{color:#234a56; text-decoration: none; display: block;}
			.drop_down a:hover{text-decoration: underline;}
			.drop_down span{float:right;}
	
/*@media (min-width:1280px) {
	#branding{ float:none; display: block; position: relative; top:30px; }
	#masthead{-webkit-box-shadow: none; box-shadow: none; overflow: visible;  position: absolute; position: fixed; top:0; bottom:0; width:350px;}
		#masthead div{width:auto;}
		#masthead p{float:none; border:none; margin:100px auto 0; position: static; text-align: center; padding:0; }
		#masthead form{position: static; width:auto; text-align: center;}
			#search{float:none; width:200px; margin:20px 0; max-width: none;}
	#product_list{width:auto; margin-left:370px;}
}*/

@media(min-width:769px){
	.hproduct:nth-child(-n+4){border-top:none;}
	.hproduct:nth-last-child(-n+4){border-bottom: none;}
	.hproduct:nth-child(4n+1) .prod_wrap{border-left:none;}
	.hproduct:nth-child(4n+4) .prod_wrap{border-right:none;}
}

@media (max-width:768px){
	h1{margin-top:0;}
	h3{font-size:2em;}
	#masthead{text-align: center;}
		#masthead div{width:auto;}
		#masthead p{display: none;}
		#branding{float:none; font-size:2.2em;}
		#masthead form{float: none; width:280px; margin:0 auto;}
		#search{width:270px;  }
	#product_list{margin:12px 0 0; width:auto;}
	.hproduct{text-align: left; float:none;  width:92%; margin:0 4%; padding:10px 0; display: block; float:left;}
		.prod_wrap{border-left:none; border-right:none; padding:0;}
		.hproduct header{margin-left:100px;}
		
	figure{float:left; width:80px;   height: auto; margin:0 20px 0 0;}
		figure img{max-width:100%; display: block;}
	.drop_down{font-size:1em; line-height: 2; width:160px;}
}
@media (min-width:551px) and (max-width:768px) {
	.hproduct{float:left; width:46%; margin:0 2%; height:105px; }
	#masthead div, #product_list{width:auto;}
}
@media (max-width:550px){
	h1{height:auto;}
	.hproduct:first-child{border-top:none;}
	.hproduct:last-child{border-bottom: none;}
}