- if @games
  .library-header
    %h1 #{current_user.username}'s Library: #{pluralize @games.count, 'item' }
    .library-meta
      Today's value from: Amazon $XX.XX
  %section#pl
    = render :partial => "games/game", :collection => @games
- else
  You don't have anything in your library