- if @results
  = render :partial => "game", :collection => @results[:products]
  - content_for :product_list_meta do
    = next_page(@query,@results[:next_page])
- else
  - content_for :product_list_meta do
    %h3 Nothing to see here