.modal_content{top:0; margin:20px auto; right:20px; left:20px; position:absolute; background:#707070; color:#fff; z-index:1000; border-radius:8px; max-width: 500px; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5); box-shadow: 0 0 10px rgba(0,0,0,.5); overflow: hidden;}
  .row{margin:0 0 .45em;}
    .row input[type=text], .row input[type=password]{width:95%; padding:2%;} 
    .column>div, .column form{padding:1em;}
  .helper-text, .modal_content p{font-size:.8125em; }
  .modal_content h1{background:#595959; padding:.5em; margin:0; border-top-left-radius:8px; border-top-right-radius:8px;}
    .column:nth-child(2n+1) h1{border-radius:0;}
  .modal_content p{color:#fff; text-transform: lowercase; margin:.2em 0 .7em;}
    .helper-text a{text-decoration: none; color:#dedbc1;}
.modal_overlay{top:0; bottom:0; right:0; left:0; position:absolute; background: #eee image-url("bg.jpg"); opacity: .8; z-index:999;}
.modal_loading{width:100px; height:100px; right:auto; left:50%; margin-left:-50px; background: #fff url(loading.gif) center center no-repeat;}
.close_btn{position:absolute; top:0; right:0; padding:10px; font:bold 20px sans-serif; color:#252a32; text-decoration:none;}

@media (min-width:551px){
  .column{width:50%; float:left;}
    .column form{border-right:1px solid #5f5f5f; -webkit-box-shadow: 1px 0 0 #807f7f; box-shadow: 1px 0 0 #807f7f;}
    .modal_content h1{border-top-left-radius:8px; border-top-right-radius:0;}
    .column:nth-child(2n+1) h1{border-top-right-radius:8px;}
}